@font-face {
    font-family:helveticanue ;
    src: url(HelveticaNeue\ \(1\).ttc);
}
.arrowbtn{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 48px;
    top: 45px;
    background: #F9F9F9;
    border: none;
}

.photoupload{
    display: flex;
    margin-top: 54px;
    margin-left: 150px;
}
.photosubmit{
    margin-top: 18px;
    margin-left: 19px;
    width: 107px;
    height: 27px;
    background: #0E80BF;
    border-radius: 4px;

}
.aboutme{
    margin-top: 54px;
    margin-left: 150px;
}
.aboutmeatr{
    width: 798px;
height: 21px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 131% */

display: flex;
align-items: center;

color: #000000;
}
.aboutmetxt{
    box-sizing: border-box;

width: 798px;
height: 103px;

background: #FFFFFF;
border: 1px solid #98E37E;
border-radius: 4px;
}
.bottomline{
    margin: 59px 150px;
}
.experiencebtn{
 align-items: center;

width: 289px;
height: 48px;
margin-left: 150px;
background: #62A1EB;
border-radius: 4px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
border: none;
}


body{
    display: flex;
    position: relative;
}
.resume{
    height: 100vh;
    padding-left: 80px;
    margin-top: 53px;
    display: block;
    margin-left: 400px;
    width: 822px;
    border: 5px solid;
    padding: 80px;
    
}
.namediv{
    display: flex;
    color: #F93B1D;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
}
.surnameresume{
    margin-left: 20px;
}

.maildiv{
    display: flex;
}
.mailresume{
    font-family: 'helveticaneue';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

margin-left: 12px;

color: #1A1A1A;
}
.phonediv{
    display: flex;
    
}
.phoneresume{
    font-family: 'helveticaneue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-left: 12px;
    color: #1A1A1A;
}
.aboutme_resumeatr{
    margin-top: 34px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #F93B1D;
}
.aboutme_resume{
    width: 432px;
 font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
text-transform: lowercase;
color: #000000;
}
.aboutmeresume{
    height: 70px;
}
.starlogo{
    margin-top: 600px;
}
.photodiv img{
    width: 246px;
height: 246px;
border-radius: 133px;
}
.nextpagebtn{
width: 151px;
height: 48px;
right: 972px;
bottom: 65px;
background: #6B40E3;
border-radius: 4px;
border: none;
position: absolute;
margin-bottom: 65px;
}
.prevpagebtn{
    width: 151px;
height: 48px;
right: 972px;
bottom: 65px;
background: #6B40E3;
border-radius: 4px;
border: none;
position: absolute;
margin-bottom: 65px;
margin-right: 615px;

}
 
.resumeline{
    position: relative;
    width: 662px;
    margin-top: auto;
}
.resumediv{
    display: flex;
}
.linediv{
    position: absolute;
    
}
.experienceoutput{
    font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */

margin-top: 25px;
color: #F93B1D;
}
.jobtitle{
      
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    
    /* off black */
    
    color: #1A1A1A;
}
.jobstart{
    font-family: 'Helvetica Neue';
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #919191;
}
.jobend{
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: #919191;
    margin-left: 15px;
    
}
.aboutjob{
    font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* or 138% */

text-transform: capitalize;

color: #000000;
}
.position{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    
    /* off black */
    
    color: #1A1A1A;
}


.positionchoose{
    margin-left: 150px;
    width: 371px;
    height: 48px;
    border-radius: 4px;
}
.succesresume{
    display: flex;
    padding: 28px 30px 30px;
gap: 10px;

position: absolute;
width: 327px;
height: 67px;
left: 1423px;
top: 53px;

background: #FFFFFF;
border: 1px solid #E4E4E4;
box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}
.succesresume h3{
    width: 275px;
}
.closebtn{
    width: 41px;
    height: 27px;
    background: none;
    border: none;
    
}

